@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TaskList.Models.Entities.Assignment>

<h1>Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Due date</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Status</td>
                <td>@task.DueDate</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Assignments" asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                    <a class="btn btn-danger ms-3" asp-controller="Assignments" asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>